<main class="contenedor contenedor-formularios no-padding">
  <h1><%=pagina%></h1>

  <form class="default-form" method="POST">
    <div class="campo">
      <label>Contrase単a</label>
      <input type="text" name="contrasena" placeholder="Contrase単a">
    </div>
    
    <div class="campo">
      <label>Nueva Contrase単a</label>
      <input type="text" name="nuevo" placeholder="Nueva Contrase単a">
    </div>
    
    <div class="campo enviar">
      <input type="submit" class="btn btn-rosa" value="Guardar">
    </div>
  </form>
</main>