<main class="contenedor contenedor-formularios">
  <h1><%=pagina%></h1>

  <form method="POST" class="default-form">
    <div class="campo">
      <label>Correo</label>
      <input type="email" name="email" placeholder="Email">
    </div>

    <div class="campo">
      <label>Nombre</label>
      <input type="text" name="nombre" placeholder="Nombre">
    </div>

    <div class="campo">
      <label>Contrase単a</label>
      <input type="password" name="password" placeholder="Contrase単a">
    </div>
    
    <div class="campo">
      <label>Repetir Contrase単a</label>
      <input type="password" name="r_password" placeholder="Repetir Contrase単a">
    </div>

    <div class="campo enviar">
      <input type="submit" value="Crear" class="btn btn-rosa">
    </div>
  </form>
</main>