<main class="contenedor contenedor-formularios">
  <h1><%=pagina%></h1>

  <form method="POST" class="default-form">
    <legend>¿Eliminar Grupo? No se revierten los cambios</legend>
    <div class="campo enviar">
      <input type="submit" value="Eliminar" class="btn btn-rosa">
    </div>
  </form>
</main>