<main class="contenedor contenedor-formularios">
  <h1><%=pagina%></h1>
  <form method="POST" class="default-form" enctype="multipart/form-data">
    <legend>Imagen de Pérfil</legend>
    <div class="campo">
      <label for="imagen">Nueva Imagen</label>
      <input type="file" name="imagen" id="imagen">
    </div>

    <%if(usuario.imagen){%>
    <div class="campo">
      <label for="">Imagen</label>
      <img src="/uploads/perfiles/<%=usuario.imagen%>" width="400">
    </div>
    <%}else{%>
      <p>Sin Imagen</p>
    <%}%>

    <div class="campo enviar">
      <input type="submit" value="Guardar" class="btn btn-rosa">
    </div>
  </form>
</main>